body{
  background-color: #ededc1;
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
    background-image:url(hatterkocka.png);
    color: #443507;
}

#cimkep{
  float:left;  
}

h2,h3{
  margin: 10px 10px 10px 10px;
}

p{
  text-align: justify;
}


.jobbra{
  text-align: right;
}

.erdekesseg{
  font-size: 70%;
  padding: 7px;
  font-weight: normal;
background-color: gray;
    font-style: italic;
}

li{
  font-weight:bold;
}
